 <p-dropdown [options]="countries"
            [(ngModel)]="selectedCountry"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            placeholder="Select a Country"
            [style]="{'width':'50%', 'margin': '20px'}"
            >

    <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value"  *ngIf="selectedCountry">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" />
            <div>{{selectedCountry.name}}</div>
        </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
            <div>{{country.name}}</div>
        </div>
    </ng-template>
</p-dropdown>

<!-- <app-table
        *ngIf="countriesInfo"
        [countriesInfo]="countriesInfo"
        [selectedCountry]="selectedCountry"></app-table> -->


<div class="p-field p-col-12 p-md-4">
   <label for="range">Range</label>
   <p-calendar
       [(ngModel)]="rangeDates"
       selectionMode="range"
       [readonlyInput]="true"
       inputId="range"
       [minDate]="minDateValue"
       [maxDate]="maxDateValue"></p-calendar>
</div>


<app-line-chart [lineBarData]='lineBarData'></app-line-chart>
