<div class="dataContainer">
  <app-bar-chartSimple-component
      class="dataTable"
      [categories]="categories"
      [chosenData]='selectedData ? selectedData[0] : null'
      >
    </app-bar-chartSimple-component>

  <div class="p-field p-col-12 p-md-4 calendar">
        <p-calendar [ngModel]="date"
                    (ngModelChange)="date=$event"
                    [showIcon]="true"
                    dataType="string"
                    dateFormat="yy-mm-dd"
                    [inline]="true"
                    inputId="icon"></p-calendar>
  </div>
</div>

<div class="p-table">
  <p-table [value]='selectedData' responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Total Cases</th>
              <th>Today Confirmed Cases</th>
              <th>Total Death</th>
              <th>Today Confirmed Death</th>
              <th>Total Recovered</th>
              <th>Today Confirmed Recovered</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-oneTimeline>
          <tr>
              <td>{{oneTimeline.totalConfirmed}}</td>
              <td>{{oneTimeline.today_confirmed}}</td>
              <td>{{oneTimeline.totalDeaths}}</td>
              <td>{{oneTimeline.today_death}}</td>
              <td>{{oneTimeline.totalRecovered}}</td>
              <td>{{oneTimeline.today_recovered}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>


