.demo-chart {
  height: 400px;
}

.chart {
  width: 50%;
  background-color: black;
  color: white;
}

.dataContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataTable{
  width: 65%;
}

.p-table{
  margin-top: 20px;
}
