.buttonCOntainer {
  display: flex;
  justify-content: space-between;
  margin-right: 290px;
}

.buttonCOntainer > button{
  width: 100%;
  font-size: 20px;
  // border: 2px solid red;
  margin-right: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
}
